<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Tjugo frågor</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="/js/jquery.js"></script>
    <script src="/js/flowtype.js"></script>
    
    <script>
      $(document).ready(function() {
        $('.welcomemessage').flowtype({
          minFont   : 12,
          maxFont   : 40,
          fontRatio : 30
        });

        var size = $('.welcomemessage').css('font-size');
        if ( size < 12 ) {
          size = 12;
        }
        else if ( size > 24 )
        {
          size = 24;
        }

        $('.welcomemessage').css('font-size', size + 'pt');

        $('.answerarea').html('\
        <button onclick="sayYes()">Ja</button><button onclick="sayNo()">Nej</button>abcde\
        ');

        getNextQuestion ();
      });

      function getNextQuestion() {
        $('.questionarea').html('<p align="center" style="font-family: \'lucida console\' \'courier new\' monospace; font-size: 20pt">Väntar på servern...</p>')

        var serverResponse = 'Servern svarade med ett fel...';
        $.get('http://localhost:5000', '', function ( data, textStatus, jqXHR ) {
          serverResponse = data;

          $('.questionarea').text('<p align="center" style="font-family: \'lucida console\' \'courier new\' monospace; font-size: 20pt">' + serverResponse + '</p>')
        } );


        


      };

      function sayYes() {
        $('.answerarea').css('font-weight', 'bold');
      }

      function sayNo() {
        $('.answerarea').css('font-weight', 'normal');
      }
   </script>
	</head>
	<body style="background-color:#a3fdff"">
    <div style="margin-left:10%; margin-right:10%; border:2px solid #4caf50; background-color:#c3ffba; padding: 5px">
      <header>
        <div class="welcomemessage" align="center">
          Välkommen till oss och gissa djur!
        </div>
      </header>

      <hr width="50%">

      <div align="center" style="font-family: 'lucida console' 'courier new' monospace; font-size: 14pt">
        Tänk på ett djur och låt websidan gissa vilket du tänker på!
      </div>

      <br>

      <p class="questionarea">
      </p>

      <br>

      <p class="answerarea">
      </p>
      </span>
    </div> 
  </body>     




</html>